.img{
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/australian-modern-bedroom-interior-nature-window_31965-3690.jpg);
    height: 15rem;
    background-size: 130%;
    background-position: center;
}
.img1{
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/modern-studio-apartment-design-with-bedroom-living-space_1262-12375.jpg);
    height: 15rem;
    background-size: 133%;
    background-position: center;
}
.img2{
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/luxury-bedroom-hotel_1150-10836.jpg);
    height: 15rem;
    background-size: 131%;
    background-position: center;
}
.ahrif3{
    color: white;
    text-decoration: none;
}
.ahrif3:hover{
    color: greenyellow;
}